body {
    font-family: Arial, sans-serif;
    background: #fff7e6;   /* soft paper color */
    color: #222;
    margin: 0;
    position: relative;    /* for scroll bar */
}



.title-container {
    display: flex;                /* enable flexbox */
    justify-content: center;      /* horizontal center */
    align-items: center;          /* vertical center if container has height */
    height: 270px;                /* optional for spacing */
}

.title {
    font-family: "Bitcount Prop Double Ink", sans-serif;
    font-size: 80px;
    color: #c71585;               /* dark pink */
    display: inline-block;        /* required for transform animation */
    animation: bounce 1.5s infinite ease-in-out;
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


/* Library grid */
.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
    gap: 45px;
    padding: 20px;
}

/* Story cards */
.card {
    background: #fce8ec;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: pink;
    transition: 0.2s;

}

.card:hover{
    transform: scale(1.1);
    background: #fcdce9;
}

/* Cover image */
.cover {
    width: 200px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

.card h2,
.story-title {
    font-family: 'Nunito', sans-serif;
    color: #c288b2; /* dark pink */
}
.card .description {
    font-family: 'Nunito', sans-serif;
    color: #c71585; /* dark pink */
    font-size: 17px;
    line-height: 1.6;
    margin-top: 10px;
}

/* ================= Story Page ================= */

/* Container */
.story {
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    background: #fffdf5;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    line-height: 1.7;
    font-size: 18px;
    color: #222;
}

/* Story title */
.story-title {
    font-family: 'Nunito', sans-serif;
    color: #c288b2; /* dark pink */
    font-size: 42px;
    margin-bottom: 30px;
    text-align: center;
}

/* Chapter titles */
.story h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.story p {
    font-family: 'Nunito', sans-serif;
    color: #6b335c; /* dark pink */
    font-size: 23px;
    line-height: 1.7;
    text-align: justify;
}

/* Cover image */
.story .cover {
    display: block;
    margin: 0 auto 30px auto;
    width: 200px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

/* Back button */
.back {
    display: inline-block;
    margin: 20px 50px 0 50px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    transition: 0.2s;
}

.back:hover {
    color: #000;
}



